.tdesc tr td{
    width: 15.5% !important;
    text-align: center;
}

.tdesc .Dmod{
    width: 20px !important;
}

.tven tr td{
    width: 15.5% !important;
    text-align: center;
}

.tven .Dmod{
    width: 20px !important;
}

#error{
     text-align: center; 
     color: #ecef01; 
     font-weight: bold;
}

